.App {
  margin: 0 auto;
}

.Header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr;
  text-align: center;
}

.Footer {
  margin-top: 1em;
  text-align: center;
  font-size: 0.5rem;
  font-style: italic;
}

h1 {
  margin-bottom: 0;
}

h3 {
  font-style: italic;
}

.MoviesContainer {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.MovieContainer {
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.MovieTitle {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  padding: 0.25em;
}

.Released {
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0em;
}

.MovieTrailer {
  /* TODO: Remove text-align once we insert the trailer */
  text-align: center;
}

.MovieOverview {
  font-style: italic;
  font-size: 0.85rem;
  margin: 5px;
  text-align: center;
}
